:root {
    --dark-blue: rgb(37, 48, 60);
    --blue: #2C3D4E;
    --text-color: #C3CFE0;
    --orange: rgb(255, 192, 0);
    --dark-orange: rgb(199, 149, 1);
    --border-color: rgba(105, 109, 125, 0.4);
    --border-radius: 5px;
}

.post__translatation-link:hover {
    text-decoration: none;
    color: var(--dark-orange);
}

.user-info__image-pic_small {
    border-radius: 50%;
}

.post__text-html code {
    font-family: monospace, monospace
}

.post__tag:hover {
    color: var(--dark-orange);
}

.post__tag {
    color: var(--orange);
    transition: 0.2s;
}

.post__type-label,
.post-info__meta-label {
    text-align: center;
    border: 1px dashed var(--orange);
}

#TMpanel .container .bmenu>a {
    transition: 0.5s ease-in-out;
}

#TMpanel .container .bmenu.slink>a {
    color: var(--orange) !important;
}

.content-list_comments .comment__folding-dotholder {
    display: none !important;
}

.promo-item {
    transition: 0.1s ease-in-out;
}

.promo-item:hover {
    background-color: var(--blue);
}
.app-client__description,
.defination-list__label,
.bmenu__label,
#TMpanel .container .bmenu>a:hover,
#TMpanel .container .bmenu>a.current,
a.post__type-label:hover {
    color: var(--dark-orange);
}
.comment__date-time {
    color: rgba(255, 255, 255, 0.7)
}
.user-info__nickname_small,
.inline-list__item_hub a,
.post__text-html a,
.post__text-html a .post__text-html a,
.post__text-html a,
.post__text-html a,
.post__text-html a {
    transition: 0.1s ease-in-out;
}

.n-dropdown-menu__item-link_flow:hover {
    background-color: transparent;
    color: var(--dark-orange);
}

.stacked-menu__item-link:hover span,
.stacked-menu__item-link:hover {
    text-decoration: none !important;
}
.h-info h3,
.h-page__title,
.list-snippet__title-link,
.list-snippet__fullname,
.n-dropdown-menu__item-link_flow,
.fonts-loaded .teaser__body-title,
.news-block__title,
.fonts-loaded .news-topic__title,
.post__title_link,
.h-message__title,
.page-header__stats-value,
.footer__link:hover,
.footer__link,
.footer-block__title,
.promo-item__aside,
.stacked-counter__value_magenta,
.user-info__nickname_doggy,
#TMpanel .container .bmenu>a,
.post__text-html h1 a:hover,
.post__text-html h1 a:active,
.post__text-html h2 a:hover,
.post__text-html h2 a:active,
.post__text-html h3 a:hover,
.post__text-html h3 a:active,
.post__text-html h4 a:hover,
.post__text-html h4 a:active,
.post__text-html h5 a:hover,
.post__text-html h5 a:active,
.post__text-html h6 a:hover,
.post__text-html h6 a:active,
.post__text-html a:hover,
.post__text-html a:visited,
.post__type-label,
.post-info__meta-label,
.post__title-text {
    color: var(--orange);
    text-decoration: none;
}

.company-links__title:hover {
    color: var(--text-color) !important;
}

.default-block__content {
    padding: 30px;
}

.list-snippet__nickname,
.post__text-html font {
    color: var(--dark-orange)
}


.post__title_link:hover {
    color: var(--dark-orange);
}
.h-info h2:nth-child(n+2),
.company-tweet__username:link,
#tracker-page .tracker-table__cell.comment_count>a,
.topic-form form .item>label,
.tabs-menu__item-counter_total,
.is-subscribed .list-snippet__title-link,
.is-subscribed .list-snippet__fullname,
.icon-svg_chevron_flows,
.btn_flow-toggle .btn_inner,
.user-info__nickname_small,
.voting-wjt__counter_positive,
.post-stats__comments-count_new,
.news-topic__attr_comments-new, 
.companies-rating__rating,
.stacked-menu__item-counter,
.post__title_link:visited,
.company-links__link,
.page-header__stats-label,
.footer__copyright,
.post-info__date,
.user-info__nickname_doggy:hover,
.post__tags-label,
.user-info__nickname_small:hover,
.inline-list__item_hub a:hover,
.nav-links__item a:hover {
    color: var(--dark-orange);
}

.tabs-menu__item-text_active,
.active .tabs-menu__item-text {
    color: #4d80aa !important;
}

#tracker-page .tracker-table__header,
form .item input[type=password], form .item input[type=text], form .item input[type=email],
.search-field__input[type=text] {
    background-color: var(--blue);
    border-color: var(--border-color);
    color: var(--text-color);
}
.footer-menu__item-link:hover,
.footer-menu__item-link,
.search-form__field,
#tracker-page .empty_list,
#tracker-page .tracker-table__header,
.topic-form form .item .description,
.form-checkbox__label, .form-checkbox__fake,
.h-form__group-title,
.notifications-table__cell_label,
.notifications-table__title-head,
.h-form-field__message,
.form-fileupload__desc,
.h-form-field__label,
.hub-info__title,
.stacked-menu__item-link,
.comment-form__title,
.footer-misprints,
.sidebar-block__list>li,
.tags-cloud li a,
.sidebar-block__paragraph,
.sort-panel__item-toggler,
.statistics-data__label,
.list-snippet__desc,
.list-snippet__lifetime,
.fonts-loaded .page-header__title,
.companies-rating__name,
.tabs-menu__item-text,
.post-info__meta-counter,
.news-topic__attr,
.h-message__content,
.company-links__title,
.defination-list__value>a,
.defination-list__link,
.defination-list__value,
.post__translatation-link,
.page-header__info-desc,
.fonts-loaded .page-header__info-title,
.comment__message,
.comment-form__preview,
.comments-section__head *,
.promo-item__title,
.promo-block__title-link,
.icon-svg_logo-mk,
.default-block__header-title,
.stacked-counter__label,
.user-info__fullname,
.user-info__specialization,
.post-share__title,
.inline-list__item_hub a,
.post__time,
.default-block__header h3,
.post-info__title:visited,
.post-info__title-link:visited,
.fonts-loaded .post-info__title,
.icon-svg_logo-habrahabr,
.nav-links__item a,
.post__text-html {
    color: var(--text-color);
    text-decoration: none;
}

a.post__type-label,
.btn_navbar_write-topic,
.btn_navbar_search,
.nav-links__item a,
.layout__elevator {
    transition: all 0.4s ease-in-out
}
.n-dropdown-menu__item_border {
    margin-top: 0px;
    border-color: var(--border-color);
    padding-top: 0;
}
.n-dropdown-menu__item-link {
    border-left: 2px solid transparent;
}
.n-dropdown-menu__item-link:hover {
    border-left-color: var(--orange);
    background-color: transparent;
}
.buttons button:hover, .buttons input[type=button]:hover, .buttons input[type=submit]:hover, .buttons a.button:hover {
    color: var(--text-color);
    border-color: var(--border-color);
}
.company-app__description,
.company-app__title,
.h-info table th, .h-info table td,
.h-info,
.h-info code,
.h-info li, .h-info p,
.comment__message p, .comment-form__preview p,
.company-tweet__text,
.post-donate__title,
.search-form__field,
.topic-form form .item input[type=password], .topic-form form .item input[type=text], .topic-form form .item input[type=email],
.chosen-container-multi .chosen-choices .search-field input[type=text],
.chosen-container-multi .chosen-choices,
.topic-form form .item .checkbox_single label,
.tm-editor__footer-help a,
.Ñm-editor__footer-checkbox,
.buttons button, .buttons input[type=button], .buttons input[type=submit], .buttons a.button,
.app-client__title,
form .item>label,
.user_settings .upgrade_settings_form p,
.h-form-select__control,
.popup__head-title,
.beta-anounce__text p,
.empty-placeholder__message,
.profile-section__title,
.profile-section__user-hub_cross,
.n-dropdown-menu__item-link,
.checkbox__label,
.radio__label,
.tm-editor__textarea {
    color: var(--text-color);
}

.tabs-menu__item-text_active, .active .tabs-menu__item-text {
    width: 100%;
}
.topic-form .blue_buttons_panel {
    padding-left: 0px;
}
.h-info table,
.h-info table th, .h-info table td,
.post-donate,
.search-form__field,
#tracker-page .tracker-table__cell,
#tracker-page .tracker-table__header,
.topic-form form .item input[type=password], .topic-form form .item input[type=text], .topic-form form .item input[type=email],
.chosen-container-multi .chosen-choices,
.tm-editor__footer-help,
.tm-editor__footer,
.tm-editor__post-area,
.switch-light__button, .switch-light input:checked~.switch-light__buttons .switch-light__button:first-child span,
.wysiwyg-toolbar,
.tabs-menu__item_devided,
.tabs-menu__item_devided.active,
.tm-editor__tabs,
.topic-form.topic_add, .topic-form.sandbox_edit,
.buttons button, .buttons input[type=button], .buttons input[type=submit], .buttons a.button,
.habracaptcha__container,
.installed-apps__item_divided:first-child,
.h-form__group-title,
.notifications-table__row,
.notifications-table__title-head,
.h-form-select__control,
.h-form-select__control[disabled],
.column-wrapper_tabs .sidebar_right,
.post__text-html table td,
.post__text-html table th,
.post__text-html table,
.page-header_bordered,
.tm-editor__textarea,
.tabs-menu,
.sandbox-panel,
.sort-panel,
.n-dropdown-menu_flows,
.dropdown_active .dropdown-container,
.toggle-menu__most-read,
.toggle-menu_most-comments,
.toggle-menu,
.news-block__footer,
.news-block__header,
.default-block__footer,
.stacked-menu__item_devided,
.fonts-loaded .post__title_link,
.column-wrapper_bordered,
.h-message,
.company-info__contacts,
.company-info_post-additional,
.company-info__about,
.footer-block__title,
.comments-section__head,
.promo-block__footer,
.promo-block__header,
.promo-block,
.btn_outline_grey,
.post-share,
.post-stats,
.author-panel,
.default-block__header,
.content-list__item_devided,
.layout__row_services #TMpanel,
.layout__row_navbar {
    border-color: var(--border-color);
}
.h-info table thead,
.h-info code,
.comment__head_new-comment,
.search-form__field,
.chosen-container-multi .chosen-choices,
.tm-editor__footer,
.tabs-menu__item_devided.active,
.tm-editor__tabs,
.buttons button, .buttons input[type=button], .buttons input[type=submit], .buttons a.button,
.habracaptcha__container,
.h-form-select__control,
.h-form-select__control[disabled],
.form__legend_lang-settings,
.popup,
.empty-placeholder,
.profile-section__user-hub_cross,
.tm-editor_comments,
.n-dropdown-menu_flows,
.dropdown_active .dropdown-container,
.megapost-teasers,
.company-info__about,
.post__translatation,
.post__text-html blockquote,
.comment__head_topic-author,
.promo-block__header,
.layout__row_services #TMpanel,
.layout__row_navbar,
.layout__elevator:hover,
.default-block {
    background-color: var(--blue) !important;
}

.post-donate,
.topic-form .blue_buttons_panel,
.switch-light__button, .switch-light input:checked~.switch-light__buttons .switch-light__button:first-child span,
.n-dropdown-menu,
.tm-editor__textarea,
a.sort-panel__item-toggler.active,
.toggle-menu__most-read,
.toggle-menu_most-comments,
.company-info__author,
.toggle-menu__item-link,
.layout__row,
.post-share,
.layout__row_body {
    background-color: var(--dark-blue);
}

.toggle-menu__item-link {
    margin: 0;
}
.company-app__image,
.checkbox__label:before, .radio__label:before,
.companies-rating__img,
.social-icons__item-link,
.company-info__image-pic,
.form-checkbox__label:before, .form-checkbox__fake:before,
.form-checkbox__real:checked+.form-checkbox__label:before, .form-checkbox__real:checked+.form-checkbox__fake:before,
.app-client__image,
.media-obj__image-pic,
.btn_navbar_user-dropdown>img {
    border-radius: 50%;
}
.h-form-input__control {
    background-color: var(--blue);
    color: var(--text-color);
    border-color: var(--border-color);
}
.post-donate,
.page-header__banner img,
.post__text-html img,
.post__text-html blockquote,
.buttons button, .buttons input[type=button], .buttons input[type=submit], .buttons a.button,
.habracaptcha__container,
form .item input[type=password], form .item input[type=text], form .item input[type=email],
.tm-button_progress, .tm-button_submit,
.h-form-input__control,
.h-form-select__control,
.empty-placeholder,
.btn_medium,
.btn_x-large,
.search-field__input[type=text],
.author-panel,
.post-share,
.tm-editor,
.toggle-menu__most-read,
.toggle-menu_pagination,
.promo-block,
.dropdown-container,
.btn+.btn,
.toggle-menu,
.post__habracut-btn,
.post-stats,
.default-block {
    border-radius: var(--border-radius);
}

.search-field__input[type=text],
.empty-placeholder,
.tm-editor_comments,
.promo-block,
.post-stats,
.company-info_post-additional,
.post-share,
.post-donate,
.default-block {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.42) !important;
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.42) !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.42) !important;
}
/* *
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/
.post__text-html pre .hljs {
    display: block;
    overflow-x: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
    border-color: var(--border-color); 
    font-family: monospace, monospace !important;
}

.post__text-html pre .hljs-comment,
.post__text-html pre .hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.post__text-html pre .hljs-doctag,
.post__text-html pre .hljs-keyword,
.post__text-html pre .hljs-formula {
    color: #c678dd;
}

.post__text-html pre .hljs-section,
.post__text-html pre .hljs-name,
.post__text-html pre .hljs-selector-tag,
.post__text-html pre.hljs-deletion,
.post__text-html pre .hljs-subst {
    color: #e06c75;
}

.post__text-html pre .hljs-literal {
    color: #56b6c2;
}

.post__text-html pre .hljs-string,
.post__text-html pre .hljs-regexp,
.post__text-html pre .hljs-addition,
.post__text-html pre .hljs-attribute,
.post__text-html pre .hljs-meta-string {
    color: #98c379;
}

.post__text-html pre .hljs-built_in,
.post__text-html pre .hljs-class .hljs-title {
    color: #e6c07b;
}

.post__text-html pre .hljs-attr,
.post__text-html pre .hljs-variable,
.post__text-html pre .hljs-template-variable,
.post__text-html pre .hljs-type,
.post__text-html pre .hljs-selector-class,
.post__text-html pre .hljs-selector-attr,
.post__text-html pre .hljs-selector-pseudo,
.post__text-html pre .hljs-number {
    color: #d19a66;
}

.post__text-html pre .hljs-symbol,
.post__text-html pre .hljs-bullet,
.post__text-html pre .hljs-link,
.post__text-html pre .hljs-meta,
.post__text-html pre .hljs-selector-id,
.post__text-html pre.hljs-title {
    color: #61aeee;
}

.post__text-html pre .hljs-emphasis {
    font-style: italic;
}

.post__text-html pre.hljs-strong {
    font-weight: bold;
}

.post__text-html pre .hljs-link {
    text-decoration: underline;
}